.nextpage {
    float: right;
}

.prevpage {
    float: left;
}

.audio_span {
    font-size: 0.7em;
    margin-left: 25px;
}

.audio_label {
    color: #999999;
}

td {
    padding: 0 !important;
}

h1 {
    font-weight: bold;
}
