.nextpage {
    float: right;
}

.prevpage {
    float: left;
}

.audio_span {
    font-size: 0.7em;
    margin-left: 5px;
}

.audio_label {
    color: #999999;
}

td {
    padding: 0 !important;
}

h1 {
    font-weight: bold;
}

.label_checkbox {
    margin-top: 0.5em;
}

.nav-tabs {
    margin-bottom: 0;
}

.pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.pane .forms, .pane .forms .accordion-title, .pane ul, .pane nav {
    margin-bottom: 0;
}
