{% load custom_filters %}
{% load staticfiles %}
{% load qurl %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>FTPVista 4.0</title>
    
    <link rel="search" type="application/opensearchdescription+xml" title="ftpvista" href="{{ base_url }}{% static 'resources/search_engine.xml' %}" />
    <link href="{% static 'css/kube.min.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'css/fontello.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'css/ftpvista.css' %}" type="text/css" rel="stylesheet" />
</head>
<body>
    <script type="text/javascript">
        /* global ftpvista */
        ftpvista = {
            search_engine_url: '{{ base_url }}{% static "resources/search_engine.xml" %}',
            online_url: "{% url 'online' %}",
            results_url: "{% url 'results' %}"
        };
    </script>
    <header class="unit-push-10 unit-80">
        <h1>FTPVista</h1>
    </header>
    <main class="unit-push-10 unit-80">
        <div class="row"><span>{{ nb_files }} fichiers - Total : {{ files_size|filesizeformat2 }}</span></div>
        <div class="row">
            <nav class="nav-tabs" data-tools="tabs" data-equals="true">
                <!-- the tabs -->
                <ul>
                    <li class="active"><a id="t1" href="#search">Recherche</a></li>
                    <li><a id="t2" href="#server-list">Liste des serveurs</a></li>
                    <li><a id="t3" href="#last">Afficher les derniers fichiers</a></li>
                </ul>
            </nav>
            <!-- tab "panes" -->
            <div id="search">
                <form method="get" action="{% url 'search' %}" class="forms forms-inline">
                    <div class="unit-padding">
                        {{ form.s }}
                        <input type="submit" class="btn btn-blue" value="Rechercher" />
                    </div>
                    <div data-tools="accordion">
                        <div href="#panel1" class="accordion-title">Filtres</div>
                        <div id="panel1" class="accordion-panel">
                            {{ form.ft.label_tag }}
                            {{ form.ft }}
                            {{ form.os }}
                            {{ form.os.label_tag }}
                        </div>
                    </div>
                </form>
            </div>
            <div id="server-list" class="unit-padding">
                {% include "online.html" %}
            </div>
            <div id="last" class="unit-padding">
                <form method="get" action="{% url 'last' %}">
                    {{ form.ft.label_tag }}
                    {{ form.ft }}
                    {{ form.os }}
                    {{ form.os.label_tag }}
                </form>
            </div>
        </div>
        <div id="search_result" class="row">
            {% ifnotequal view 'index' %}
                {% if page > 1 %}
                    <a href="{% qurl request.get_full_path page=page|add:'-1' %}" class="prevpage">&#8592; page précédente</a>
                {% endif %}
                {% if not is_last_page and file_nodes|length > 0 %}
                    <a href="{% qurl request.get_full_path page=page|add:'1' %}" class="nextpage">page suivante &#8594;</a>
                {% endif %}
                <div class="results">
                    {% include "search_results.html" %}
                </div>
                {% if page > 1 %}
                    <a href="{% qurl request.get_full_path page=page|add:'-1' %}" class="prevpage">&#8592; page précédente</a>
                {% endif %}
                {% if not is_last_page and file_nodes|length > 0 %}
                    <a href="{% qurl request.get_full_path page=page|add:'1' %}" class="nextpage">page suivante &#8594;</a>
                {% endif %}
            {% endifnotequal %}
        </div>
    </main>
    <footer class="unit-push-10 unit-80">
        FTPVista 4.0 by Magne
    </foolter>
    <script src="{% static 'js/jquery-2.1.4.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/kube.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/ftpvista.js' %}" type="text/javascript"></script>
</body>
</html>
