/* root element for tabs  */
ul.tabs {
	margin:0 !important;
	padding:0;
	height:30px;
	border-bottom:1px solid #666;
}

/* single tab */
ul.tabs li {
	float:left;
	padding:0;
	margin:0;
	list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	float:left;
	font-size:13px;
	display:block;
	padding:5px 30px;
	text-decoration:none;
	border:1px solid #666;
	border-bottom:0px;
	height:18px;
	background-color:#202020;
	color:#666;
	margin-right:2px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright:4px;
	position:relative;
	top:1px;
}

ul.tabs a:hover {
	background-color:#777;
	color:#202020;
}
	
/* selected tab */
ul.tabs a.current {
	background-color:#595959;
	border-bottom:2px solid #595959;
	color:white;
	cursor:default;
}

/* tab pane */
div.panes div.pane {
	display:none;
	border:1px solid #666;
	border-width:0 1px 1px 1px;
	padding:15px 20px;
	background-color:#595959;
}
.advanced_pane ul{
	padding:0 0 0 1em;
}

.advanced_pane li{
	list-style-type:none;
}