body{
    background-color: #333333;
    font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif;
    font-size: .8em;
    line-height: 1.25;
    color:white;
}

#search .panes a.plus_sign{
    color: white;
    text-decoration: none;
}

#search .panes a.plus_sign:hover{
    color: #ccc;
}

.bold{
    font-weight: bold;
}

a{
    color: white;
    text-decoration: none;
}

a:visited{
    color: #bbb;
}

a:hover{
    text-decoration: underline;
}

.audio_span{
    font-size: 0.7em;
}

.audio_label{
    color: #999999;
}

.server_list li.online{
    color: #00C90D;
}

.server_list li.offline{
    color: #FD0000;
}

.server_list li span{
    color: white;
}

#browser .ui-state-highlight{
    color: white !important;
    border: 0 !important;
    text-shadow: 0.1em 0.1em 0.2em black;
}

#browser.ui-widget-content{
    background-image: none !important;
}
